.product-page {
  /* padding: 20px 40px; */
  font-family: Arial, sans-serif;
}

/* Header */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-actions .btn {
  margin-left: 10px;
  padding: 7px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.export {
  background: #eef7ff;
}

.import {
  background: #eef7ff;
}

.bulk {
  background: #ffe6c7;
}

.delete {
  background: #ffd4d4;
}

.add {
  background: #15c39a;
  color: white;
}

/* Filter */
.filter-box {
  margin-top: 20px;
  padding: 15px;
  background: white;
  border-radius: 10px;
  border: 1px solid #eee;
}

.filter-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-input {
  position: relative;
  width: 280px;
}

.search-input input {
  width: 100%;
  padding: 10px 35px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.search-icon {
  position: absolute;
  top: 11px;
  left: 10px;
  color: #777;
}

.select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Buttons */
.filter-btn {
  background: #15c39a;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
}

.reset-btn {
  background: #f2f2f2;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
}

/* Table */
.product-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.product-table th {
  font-size: 12px;
  text-align: left;
  padding: 12px;
  background: #f8f8f8;
}

.product-table td {
  font-size: 12px;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.product-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.prod-img {
  width: 35px;
  height: 35px;
  border-radius: 6px;
}

.status-badge {
  background: #15c39a;
  padding: 5px 12px;
  color: white;
  border-radius: 20px;
  font-size: 12px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

/* Toggle Switch */
.switch {
  position: relative;
  width: 40px;
  height: 20px;
  display: inline-block;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.slider:before {
  content: "";
  height: 16px;
  width: 16px;
  background: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked+.slider {
  background: #15c39a;
}

input:checked+.slider:before {
  transform: translateX(20px);
}

/* 
.pd-container {
  padding: 30px 40px;
} */
.pd-title {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 700;
}

.pd-main-box {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.pd-img-box img {
  width: 350px;
  border-radius: 10px;
}

.pd-info-box {
  width: 60%;
}

.pd-status {
  font-size: 15px;
  color: #444;
  margin-bottom: 10px;
}

.pd-status-green {
  color: #16a34a;
}

.pd-name {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0;
}

.pd-sku {
  color: gray;
  margin-bottom: 15px;
}

.pd-price {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.pd-stock-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.pd-stock-badge {
  background: #16a34a;
  padding: 6px 14px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.pd-qty {
  font-size: 14px;
  color: #555;
}

.pd-desc {
  margin: 20px 0;
  line-height: 1.5;
  color: #555;
}

.pd-cat-title {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.pd-tags {
  margin: 10px 0 25px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.pd-tag {
  background: #e5e7eb;
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.pd-edit-btn {
  background: #16a34a;
  color: white;
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.pd-edit-btn:hover {
  background: #128837;
}


/* Overlay */
.ap-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  /* visibility: hidden; */
  transition: 0.3s;
  z-index: 999;
}

.ap-overlay.show {
  opacity: 1;
  visibility: visible;
}

/* Modal box */
.ap-modal {
  position: fixed;
  top: 0;
  right: -500px;
  width: 600px;
  height: 96vh;
  background: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

.slide-in {
  right: 0;
}

/* Header */
.ap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ap-header h2 {
  font-size: 22px;
  font-weight: 600;
}

.ap-close {
  font-size: 22px;
  cursor: pointer;
}

/* Fields */
.ap-body {

  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 10px;
}

.ap-body label {
  display: block;
  margin: 12px 0 5px;
  font-weight: 500;
}

.ap-body input,
.ap-body textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
}

.ap-body textarea {
  height: 90px;
  resize: none;
}

/* Dropzone */
.ap-dropzone {
  border: 2px dashed #cbd5e1;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  position: relative;

}

.ap-dropzone input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.ap-upload-icon {
  font-size: 26px;
  margin-bottom: 5px;
}

.ap-preview {
  margin-top: 10px;
  width: 100%;
  border-radius: 6px;
}

/* Footer */
.ap-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.ap-cancel {
  background: #e5e7eb;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.ap-add {
  background: #16a34a;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;

}

.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal {
  background: #fff;
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}