

.customer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.customer-actions {
  display: flex;
  gap: 10px;
}

.top-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  background: white;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.customer-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.search-row {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  position: relative;
}

.search-input input {
  width: 94%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.search-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 20px;
  color: #888;
}

.filter-btn {
  background: #28c76f;
  padding: 12px 22px;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.reset-btn {
  background: #e5e5e5;
  padding: 12px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
}

.customer-table th {
  text-align: left;
  padding: 14px;
  font-size: 13px;
  background: #f7f7f7;
}

.customer-table td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.actions {
  display: flex;
  gap: 12px;
}
.actions .icon {
  cursor: pointer;
  font-size: 18px;
  color: #6c757d;
}

.actions .icon:hover {
  color: black;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal Box */
.modal-box {
  background: #fff;
  width: 420px;
  padding: 20px;
  border-radius: 10px;
  animation: fadeIn 0.3s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
  font-size: 20px;
}

.modal-body {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.modal-body label {
  font-size: 14px;
  margin-bottom: 5px;
}

.modal-body input {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn {
  padding: 8px 15px;
  background: #ccc;
  border-radius: 5px;
  border: none;
}

.update-btn {
  padding: 8px 15px;
  background: #0A66C2;
  color: #fff;
  border-radius: 5px;
  border: none;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.delete-modal {
  background: #fff;
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

.delete-modal h3 {
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-btn {
  padding: 8px 18px;
  background: #ddd;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  padding: 8px 18px;
  background: #e63946;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.ap-dropzone {
  border: 2px dashed #cbd5e1;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  position: relative;

}

.ap-dropzone input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.ap-upload-icon {
  font-size: 26px;
  margin-bottom: 5px;
}