/* ================= NAVBAR ================= */
.onlinestore-main-container{
 
}
.navbar {
  /* width: 100%; */
  height: 70px;
  background: #06b66a;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* overflow-x: hidden; */
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-weight: 900;
  font-size: 20px;
}

.search {
  width: 450px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  cursor: pointer;
}

.menu.red {
  color: #ff4343;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

/* ================= PRODUCT GRID ================= */

.product-grid {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
  transition: 0.2s;
  position: relative;
}

.product-card:hover {
  transform: translateY(-3px);
}

.product-img {
  width: 100%;
  height: 180px;
  position: relative;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.add-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #00a86b;
  color: white;
  border: none;
  padding: 12px 14px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.product-info {
  padding-top: 10px;
}

.product-name {
  font-size: 15px;
  font-weight: 600;
}

.product-price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
}

/* ================= CART WIDGET ================= */

.cart-widget {
  position: fixed;
  top: 200px;
  right: 20px;
  background: #0ca56b;
  width: 130px;
  padding: 15px;
  border-radius: 12px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.cart-widget .items {
  margin-bottom: 10px;
  font-size: 14px;
}

.cart-widget .amount {
  background: white;
  color: #0ca56b;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
}

/* Overlay */
.ap-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  /* visibility: hidden; */
  transition: 0.3s;
  z-index: 999;
}

.ap-overlay.show {
  opacity: 1;
  visibility: visible;
}

/* Modal box */
.ap-modal {
  position: fixed;
  top: 0;
  right: -500px;
  width: 600px;
  height: 96vh;
  background: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

.slide-in {
  right: 0;
}

/* Header */
.ap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 500px;
  /* overflow-x: hidden; */
  /* scrollbar-width: none; */
  z-index: 10;
  overflow-y: auto;
}

.cart-product-details {
  display: flex;
  /* width: 100%; */
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(66, 62, 62);
}

.cart-product-img img {
  padding: 7px;
  max-width: 100px;
  border: 1px solid rgb(201, 182, 182);
  border-radius: 7px;
  object-fit: cover;
}

.cart-product-info {
  width: 100%;
}

.cart-product-info h5 {
  margin: 0;
}

.cart-product-info p {
  margin: 0;
}

.cart-product-price {
  display: flex;
  justify-content: end;
}

.cart-footer {
 padding-top: 10px;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.place_order_btn {
  color:white;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background-color: #06b66a;
}

.close_btn {
   color: white;
    padding: 20px;
    font-size: 20px;
     font-weight: 400;
    border: none;
    border-radius: 8px;
    background-color: #474847;
}