.register-page {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #84fab0;
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}

.register-card {
  width: 450px;
  background: #fff;
  border-radius: 12px;
  padding: 40px 40px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.form-control {
  margin-bottom: 18px;
}

.form-control input {
  /* width: 100%; */
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  gap: 10px;
}

.form-checkbox a {
  color: #007bff;
  text-decoration: underline;
}

.register-btn {
  width: 100%;
  padding: 14px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(90deg, #4ad395, #44c0e3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-link {
  margin-top: 18px;
  font-size: 14px;
}

.login-link a {
  color: #333;
  font-weight: 600;
}